.footer-box2 {
    justify-content: center;
    order: 0;
    width: 100%;
}

.footer-box1 {
    justify-content: center;
    width: 100%;
}

.footer-box3 {
    justify-content: center;
    width: 100%;
}
